<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página Principal</title>
    <!-- Enlace al CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
<h1 class="text-center mb-4">Bienvenido a la Gestión de la Escuela Rural</h1>

<nav>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link btn btn-primary mb-2" href="/cursos">Ver Cursos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-success mb-2" href="/cursos/crear">Crear Curso</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-info" href="/estudiantes/crear">Agregar Estudiante</a>
        </li>
    </ul>
</nav>
</body>
</html>
